page-cadastro {
    .pages{
        background: #784421;
    }
    .campos{
        background: #784421;
        color: #ffffff;
    }
    .botoes{
        background: #decd87;
        color: #000000;
    }
}
