page-home {
    .pages{
        background: #784421;
    }
    .campos{
        background: #784421;
        color: #ffffff;
    }
    .botoes{
        background: #decd87;
        color: #000000;
    }
    .lista{
        background: #a05a2c;
        color: #ffffff;
    }
    .botao{
        background: #decd87;
        color: #000000;
    }
}
