page-detalhar {
    .pages{
        background: #784421;
        color: #ffffff;
    }
    .dataTexto{
        color: #000000;
        align-content: left;
    }
    .botoes{
        background: #decd87;
        color: #000000;
    }
}
